.App {
  text-align: center;
}

html {
  background-image: url("./images/todoappvector.svg");
  background-repeat: no-repeat;
  background-size: calc(300px);
  background-position: center;
  background-attachment: fixed;
}
body {
  background-color: seagreen;
}
