.TodoList {
  padding: 2rem 3rem 3rem;
  max-width: 500px;

  background-color: #ff6666;
  color: #fff;
  box-shadow: -12px -13px 2px 1px rgba(100, 100, 100, 0.5);
  margin: 9rem auto;
  border-radius: 10px;
}

.TodoList img {
  width: 100px;
  margin-top: 1rem;
  /* background-color: aqua; */
  position: absolute;
  left: 60%;
  top: 22%;
  /* box-shadow: -5px -3px 2px 1px rgba(100, 100, 100, 0.5); */
  border-radius: 20px;
}

.TodoList ul {
  margin-top: 2.6rem;
  list-style: none;
}

.TodoList h1 {
  font-weight: normal;
  font-size: 2.6rem;
  letter-spacing: 0.005em;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}

.TodoList h1 span {
  display: block;
  font-size: 2rem;
  margin-bottom: 0.7rem;
  margin-left: 3px;
  margin-top: 0.2rem;
  color: black;
  font-family: "Oxlade Demo";
  text-shadow: 1px 1px 8px rgb(190, 20, 20);
}

.Todo-buttons {
  display: flex;

  width: 155px;
  justify-content: space-between;
}

.Todo-buttons button {
  border: none;
  font-size: 1.3em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: white;
}

.Todo-edit-form {
  display: flex;
  flex-wrap: wrap;
}

.Todo-edit-form label {
  min-width: 100%;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.Todo-edit-form input {
  flex-grow: 1;
  border: none;
  background-color: white;
  font-size: initial;
}

.Todo-edit-form button {
  padding: 0 1.3rem;
  border: none;
  background: #ff6666;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-left: 5px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.Todo-edit-form button:hover {
  background-color: green;
}

.Todo-edit-form input,
.Todo-edit-form button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 2.5rem;
  margin-left: 2rem;
}
